<%= Time.now %>

<!-- views/index.erb -->

<% @recipes.each_with_index do |recipe, index| %>
<ul>
  <li>
    <%= index + 1 %>. <%= recipe.name %>
    <form action="/delete/<%= index %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>
<% end %>
<a href="/new">Add New Recipe</a>
